body 
{
    background-image:url(../imgs/right1.gif);   
    background-repeat:no-repeat;
}

 .dvTop
{
    background-image:../imgs/topbg.gif;
    height:300px;
    width:1900px;
}
.dvLeft
{
        
}
.tableTop
{
    background-image:../imgs/topbg.gif;
    border:0px;
    width:95%;
    height:100%;    
}
.liFst
{
    background-image:../imgs/nav2.gif;
}
.liMid
{
    background-image:../imgs/nav.gif
}
.liMid